html {
    background-color: #111;
  body {
    color: #fff;
  }

  .logo {
    animation: pulse 3s ease 0s infinite normal none;
    animation-iteration-count: 1;
    padding: .5em 1.25em;
    height: 12vh;
  }
  .tagline {
    float: right;
    padding: 1em 2em;
    font-size: 5vh;
  }
}